body {
    background-color: rgb(244, 244, 244);
}

.header {
    display: flex;
}

.header__div {
    position: relative;
    background-color: blue;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    width: 3em;
    height: 3em;
    margin: 2.5em 0 0 6em;
}

.div__one {
    border-bottom: solid 1px rgb(255, 255, 255);
    padding-top: 30%;
    margin: 0 50% 0 20%;
}

.div__two {
    border-bottom: solid 1px rgb(255, 255, 255);
    padding-top: 18%;
    margin: 0 20%;
}

.div__three {
    border-bottom: solid 1px rgb(255, 255, 255);
    padding-top: 18%;
    margin: 0 70% 0 20%;
}

.header__h1 {
    color: blue;
    margin: 1.3em 0 0 1em;
}